/* Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utilities */
:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}
.flex {
    display: flex;
}
.text-center {
    text-align: center;
}
/* Typography */
body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
h1 {
    color: var(--darkBlue);
    font-weight: 700;
}
p {
    color: var(--grayishBlue);
    font-weight: 400;
}
/* Content */
body {
    background-color: var(--lightGray);;
}
main {
    max-width: 1440px;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}
article {
    background-color: var(--White);
    padding: 1rem 1rem 2.5rem 1rem;
    max-width: 18rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgb(0 0 50 / 0.1);
}
article img {
    width: 100%;
    border-radius: 0.5rem;
}
article p {
    max-width: 15.9rem;
    margin: 0 auto;
}